body{
	background-color: #658ea6
}
nav{
	background-color: #b5d4e6;
	margin: 10px 10px 0px 10px;
	text-align: center;
	padding-left: auto;
	padding-right: auto;
}
nav ul{
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li{
	display: inline;
	padding: 5px 10px 5px 10px;

}
nav ul li a:link{
		color: #04080b;
		border-bottom: none;
		font-weight: bold;

}
nav ul li a:visited{
	color: #2d546b;
	border-bottom: none;
		font-weight: bold;
	}
nav ul li a:active{
color: #FFFF;
}

nav ul li a:hover{
color: #ffff;	
}